.slide-info {
  margin-bottom: 48px;

  .title {
    margin-top: 24px;
    margin-left: 16px;
    margin-bottom: 24px;

    font-family: 'Hellix';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #171725;
  }

  .content {
    display: flex;

    .tag-element {
      &:not(:last-child) {
        margin-right: 16px;
      }

      &:first-child {
        margin-left: 16px;
      }
    }
  }
}
