.page-1 {
  background-color: #fff;
  .header {
    background-color: #171725;
    height: 428px;

    .back-button {
      margin-top: 60px;
      margin-left: 24px;
    }

    .content-box {
      margin-top: 16px;
      padding: 0 24px;

      .title {
        font-family: 'Hellix';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: #fff;
      }

      .content {
        font-family: 'Hellix';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.005em;
        color: #b5b5be;

        margin-top: 8px;
      }
    }
  }

  .body {
    margin-top: 264px;
  }
}
